/* You can add global styles to this file, and also import other style files */
@import url("assets/styles.css");

.maleBox{
    background: green;
    margin: 5px;
}

.femaleBox{
    background: blue;
    margin: 5px;
}